@model SchoolManagementSystemModel.Academics.ConfigParams

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConfigParams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParamType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParamCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
