@using Vereyon.Web
@model SchoolManagementSystem.Models.ViewModels.ConstituencyViewModel
@Html.RenderFlashMessages();
<section class="content-header">
    <h1>
        Constituencies
        <small>Create</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index","Constituencies")"></a>Constituencies</li>
        <li>Create</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Enter Constituency Details</h3>
                </div>
                @using (Html.BeginForm("Create", "Constituencies", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Constituency.County.Id, "County Name: ", htmlAttributes: new { @class = "control-label" })
                                    <div class="row">
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.Constituency.CountyId, new SelectList(Model.Counties, "Id", "CountyName"), string.Empty, new
                                       {
                                           @class = "form-control select2",
                                           Id = "countyDropDown",
                                           data_placeholder = "Select County",
                                           data_val = "true",
                                           data_val_required = "County is required",
                                           style = "width: 100%"
                                       })
                                            @Html.ValidationMessageFor(model => model.Constituency.County.CountyName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.ActionLink("...", "Index", "Counties", null, new { @class = "btn btn-info btn-flat", title = "Counties" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Constituency.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.Constituency.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Constituency.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Wards", "Create", "Wards", null, htmlAttributes: new { @class = "btn btn-info btn-flat pull-left" })
                        <input type="submit" value="Submit Details" class="btn btn-info btn-flat pull-right" />
                    </div>
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Constituencies Details</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table id="constituenciesTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="control-label">Constituency Name</label>
                                    </th>
                                    <th>
                                        <label class="control-label">County Name</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Action</label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Constituencies)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.County.CountyName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        <label class="control-label">Constituency Name</label>
                                    </th>
                                    <th>
                                        <label class="control-label">County Name</label>
                                    </th>
                                    <th>
                                        <label class="control-label">Action</label>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#constituenciesTable').DataTable();
        });
    </script>
}

